ui/node_modules
ui/build
ui/public/assets/env.js
.idea
machinery/www
yarn.lock
machinery/data/config
machinery/data/cloud
machinery/data/recordings
machinery/data/snapshots
machinery/test*
machinery/init-dev.sh
machinery/.env
deployments/docker/private-docker-compose.yaml