.header {
  padding: 12px 48px;
  background: #943734;
  background-image: url('../../assets/images/bg/header.jpeg');
  background-blend-mode: overlay;
  background-size: 100% auto;
  background-position: center -220px;
  position: relative;
  display: flex;
  
  h1 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 16px;

    span.version {
      font-size: 13px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.4);
      padding-left: 5px;
    }
  }

  .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;

    .title {
      margin-right: 10px;
    }
  }

  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      color: #FFFFFF;
      float: left;
      opacity: 60%;
      padding-right: 60px;
    }

    li.active {
      opacity: 100%;
    }

    li:last-child {
      padding-right: 0;
    }
  }
}
