@import "../../app.variables";

#dashboard {

    hr {
        margin-top: 50px;
    }
    
    .dashed {
        padding: 20%;
    }

    .pointer {
        cursor: pointer;
    }

    video {
        width: 100%;
    }

    p.event-description {
        display: none;
        @media (min-width: 800px) {
            display: block;
        }
    }
    
    a {
        display: flex;
        color: var(--text);

        &:hover, &:active {
            color: var(--text);
        }
    }

    .time {
        display: flex;
        align-items: center;
        .ellipse-container {
            margin-right: 8px;
        }
    }
}