@import "./app.variables";


.warning {
    background: var(--upper-gradient);
    width: 100%;
    color: white;
    padding: size(1.5) size(4);
    margin: -6px 0 0 0;
    display: flex;
    align-items: center;

    svg {
        padding-right: size(1);
    }
}
a {
    display: flex;
    color: var(--text);

    &:hover, &:active {
        color: var(--text);
    }
}