.login-body {
  background-color: #8a2828;
  background-image: linear-gradient(163deg, #8a2828 0%, #8a2828 50%, #952d2d 50%, #952d2d 100%);
  color: #606468;
  height: 100vh;
  width: 100vw;
  max-width: 100vw !important;
  margin: 0;
  padding: 0;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #fff 75%, #D8D8D8 100%)  !important;
  border-radius: 72px;
  padding: 80px 140px !important;
  max-width: 100% !important;
  width: auto !important;
}

.kerberos-logo {

}

.github-logo {

}
