#settings {
    .generic-input, .dropdown-wrapper {
        width: 100%;
    }
    .block-generic {
        width: 100%;
        margin-bottom: 24px;
    }
    .block-footer {
        justify-content: flex-end;
        padding-right: 24px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .block-footer .button:first-child {
        margin-right: 6px;
    }
}