.header {
  width: 100%;
  height: 445px;
  background: #943734;
  background-image: url("../../../../assets/images/bg/header.jpeg");
  background-blend-mode: overlay;
  background-size: 100% auto;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
