.MuiPopover-paper {
    box-shadow: none !important;
}

.MuiListItem-button {
    font-size: 14px;
    line-height: 14px;
}

.MuiList-padding {
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 2px solid #eeecec;
}

.MuiListSubheader-sticky {
    line-height: 40px !important;
    text-transform: uppercase;
    font-size: 12px !important;
}

#language-picker {
    cursor: pointer;
}