.error {
  color: white !important;
  background: #e45b5b;
  background-image: linear-gradient(45deg, #791818, #b4524e);
  border-radius: 8px;
  padding: 20px 8px;
  text-align: center;
  width: 100%;
  display: table;
  position: relative;
  margin-bottom: 20px;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-title {
  text-align: center;
}

.signin-button {
  background-color: #952d2d !important;
  box-shadow: none !important;
  margin-top: 10px !important;
  padding: 15px 4px !important;
  border-radius: 25px !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  text-transform: none !important;
}

.paper-loginform {
  margin-top: 0;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.avatar {
  margin: 1px;
  color: black !important;
}

.form {
  width: '100%';
  margin-top: 1px;
}

.loginfield, .passwordfield {
  border-radius: 25px !important;
  background-color: none !important;
  background-image: linear-gradient(0deg, #FBFBFB, #F5F5F5)  !important;
  border: 1px solid #F1F1F1 !important;
}

.loginfield fieldset,
.loginfield .Mui-focused fieldset,
.passwordfield fieldset,
.passwordfield .Mui-focused fieldset {
  border: none !important;
}

.MuiFormLabel-root {
  color: #AFAFAF !important;
}

.passwordfield {
  border-radius: 25px !important;
  background-color: none !important;
  background-image: linear-gradient(0deg, #FBFBFB, #F5F5F5)  !important;
  border: 1px solid #F1F1F1 !important;
}

.submit {
  margin: 3px 0px 2px;
  background: black !important;
}

.shortcuts {
  margin-top: 20px;
  text-align: center;
}
